body{
    padding :0;
    margin:0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.logo img{
    height: 140;
    width : 200px;
}

.header{
    padding: 30px 50px;
    position: relative;
    z-index: 10;
    
}


.loginError{
    background-color: #e87c03;
    font-size: 14px;
    padding: 10px 20px;
    vertical-align: middle;
    color: #fff;
    margin: 0 0 16px;
    border-radius: 4px;
}

.emailError{
    color: #e87c03;
    margin-bottom: 15px;
    margin-top: -30px;
    padding: 6px 3px;
    display: block;
    font-size: 13px;
}

.passError{
    color: #e87c03;
    margin-bottom: 15px;
    margin-top: -30px;
    padding: 6px 3px;
    display: block;
    font-size: 13px;
}

.wrapper{
    background-image: url(./images/login_background.jpg);
    height: 100vh;
    background-image:cover;
    background-repeat : no-repeat;
    position: relative;
    width: 100%;
}

.wrapper::before{
    content: '';
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
     /*position: absolute;*/
    top :0;
    bottom:0;
    left:0;
    right:0;
    
}
.login_body{
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 500px;
    margin-left: 50%;
    
    background-color: rgba(0,0,0,.7);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
    
}

.login_body h2{
    
    font-size: 38px;
    color: white;
    margin-top: 0;
}

.login_body input{
    height: 50px;
    width: 100%;
    border-radius: 2.5;
    color: white;
    background :#333;
    border: solid #333;
    padding-left : 15px;
    box-sizing:border-box;
    outline: none;
    
}

.logIn div {
    margin-bottom: 25px;
    border-radius: 12px;
    display: inline;
}

.input-and-error {
    display: inline;
}

.logIn input[type = text]  {
    width: 80%;
    height: 50px;
}     

.login input[type = button]{
    background: red;
    border-radius: 12px;
}

.login_button{
    margin-bottom: 10px;
    z-index: 1;
}
.selector {
    width: 88px;
}

#select-field {
    width: 70px;
    height: 50px;
    padding: 15px 10px;
    margin-bottom: 30px;

    box-sizing: border-box;
    background: #333;
    color: #8c8c8c;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 0px;

    position: absolute;
    right: 60px;
    top: 135px;
}

#list {
    width: 64%;
    height: 300px;
    background: #595959;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    color: white;

    margin-top: 0px;
    right: 60px;

    z-index: 5;
}

.options {
    width: 105%;
    margin-left: 10px;
    padding: 5px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    left: -38px;
}

.options:hover {
    background: #737373;
}

li > p {
    font-weight: 700;
    font-size: small;
    margin-left: 15px;
}

.hide {
    visibility: hidden;
}

/*.login_body button{
    height: 50px;
    width: 100%;
    color: white;
    background-color: red;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid red;
}*/

.helpCenter{
    height: 30px;
}

.helpCenter input{
    width: 25px;
    height: 16px;
   

}
#signIn{
    background-color:red;
}

.helpCenter span{
    
    color: gray;
    
}

.extraStuff span{
    
    color:grey;
}
.extraStuff{

    margin-top:15px;
}

















